@use "../../Style/" as *;

.contact{
    width: 100%;
    background: $white;
    background-color:$container-bg;
    border:$container-border;
    max-width: $container-width;
    margin: 10rem auto 0;
    padding: 7rem 3rem 4rem;
    border-radius: $container-border-radius;

    h2.title{
        font-size: 2.5rem;
        text-align: center;
    }
    h3{
        margin: 4rem 0;
        font-size:2rem;
        @include flex(flex-start,flex-start);
    }
    .articleContact{
        padding: 1.5rem 2.5rem;
        font-size: 2.5rem;
        margin: 4rem 0;


        ul{
            padding: 1.5rem 2.5rem;

            li{
                // display: flex;
                @include flex(center,flex-start);
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding: .5rem;
                
                .contactIco{
                    margin-right: .3rem;
                    vertical-align: middle;
                }
                .ico{
                    margin-left: .3rem;
                    vertical-align: middle;
                }
                button{
                    border: none;
                    font-size: 1.25rem;
                    cursor: pointer;
                    background: none;
                }
                .circle{
                    font-size: 2.5rem;
                    margin-right: .5rem;
                    color: #a5c547;
                }
            }
        }
    }

}
