@use "../../Style/" as *;

.contact{
    width: 100%;
    background: $white;
    background-color:$main-bg;
    border:$main-border;
    max-width: $main-width;
    margin: $main-margin;
    padding: $main-padding;
    border-radius: $main-border-radius;

    @include mobile{
        width: $mobile-width;
    }

    h2.title{
        font-size: 3rem;
        text-align: center;
    }
    h3{
        @include flex(flex-start,flex-start);
        font-size:2rem;
        .smile{
            font-size: 2.2rem;
            margin-right: .3rem;
        }
    }
    .articleContact{
        padding: $container-padding;
        font-size: 2.5rem;
        margin: 4rem 0;


        ul{
            padding: $container-padding;
            @include mobile{
                padding: 0;
            }

            li{
                @include flex(center,flex-start);
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding: .5rem;
                
                .contactIco{
                    margin-right: .3rem;
                    vertical-align: middle;
                }
                .ico{
                    margin-left: .3rem;
                    vertical-align: middle;
                }
                button{
                    border: none;
                    font-size: 1.25rem;
                    cursor: pointer;
                    background: none;

                    &:hover{
                        color: #d32f2f;
                    }
                }
                .circle{
                    font-size: 2.5rem;
                    margin-right: .5rem;
                    color: #a5c547;
                }
                a{
                    &:hover{
                        color: #0091ea;
                        text-decoration: underline;
                    }
                }
            }
        }
        .completion{
            padding: $container-padding;
            @include mobile{
                padding: 0;
            }
            li{
                @include flex(center,space-between);

                a{
                    color:blue;
                }
            }
        }
    }
}
