@use "../../Style/" as *;

.intro{
    width: 100%;
    background: $white;
    background-color:$main-bg;
    border:$main-border;
    max-width: $main-width;
    margin: $main-margin;
    padding: $main-padding;
    border-radius: $main-border-radius;

    @include mobile{
        max-width: $mobile-width;
    }
    h2.title{
        font-size: 3rem;
        text-align: center;
    }
    h3{
        @include flex(flex-start,flex-start);
        font-size:2rem;
        .smile{
            font-size: 2.2rem;
            margin-right: .3rem;
        }
    }

    article{
        margin: 4rem 0;
    }
    
        .profile{
            padding: $container-padding;
            @include flex(center,space-between);

            &_img{
                margin-right: 5rem;
                
                @include mobile{
                    display: none;
                }
            }
        
            .detail{
                display: flex;
                
                    .desc{
                        li{
                            display: flex;
                            font-size: 1.5rem;
                            padding: .5rem;
                            margin-bottom: 1rem;

                            @include mobile{
                                margin-bottom: .5rem;
                            }
                        }
                    }
                }
        }
        .int{
            padding: $container-padding;
            line-height: 200%;

            &_box{
               
                margin-bottom: 2rem;
                padding: $container-padding;
                @include mobile{
                    padding: 0;
                }
            }
            &_tit{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                @include mobile{
                    margin-bottom: 3rem;
                }
            }
            &_txt{
                @include flex(center,flex-start);
                font-size: 1.2rem;
                margin: .5rem;
                @include mobile{
                    margin: 1rem;
                }
            }
        }
        .skill{
            padding: $container-padding;
            @include flex(center,space-between);
            @include mobile{
                flex-wrap:wrap;
            }

            @include mobile{
                padding: 0;
                margin:5rem 0;
            }

            .skill_box{
                @include flex(center,center);
                flex-direction: column;

                h4{
                    margin-top: .5rem;
                    font-size: .8rem;
                }
                .skillIco{
                    display: block;
                    font-size: 4rem;
                    &:hover{
                        font-size: 5rem;
                        transition: .5s all;
                    }
                }
            }
        }
    }