$body-color:#0f0f0f;
$main-color:#6e7783;
$white:#f1f5f9;
$black:#191919;

$container-width:62rem;
$container-border:.5rem solid #090a0f;
$container-border-radius:2.5rem;
$container-bg:#f1f5f9;

$mobile-width:37.5rem;
$tablet-width:64rem;
$font-family: "Roboto",sans-serif;


$html: url(../Assets/img/skill/html.png);
$css: url(../Assets/img/skill/css.png);
$js: url(../Assets/img/skill/js.png);
$jquery: url(../Assets/img/skill/jquery.png);
$react: url(../Assets/img/skill/react.png);
$redux: url(../Assets/img/skill/html.png);
$scss: url(../Assets/img/skill/sass.png);
$node: url(../Assets/img/skill/nodejs.png);
$express: url(../Assets/img/skill/node_express.png);
$mongodb: url(../Assets/img/skill/mongoDB.png);
$github: url(../Assets/img/skill/git.png);
$figma: url(../Assets/img/skill/figma.png);
$photoshop: url(../Assets/img/skill/photoshop.png);
$illust: url(../Assets/img/skill/illustrator.png);
$zeplin: url(../Assets/img/skill/zeplin.png);
