$body-color:#0f0f0f;
$main-color:#6e7783;
$white:#f1f5f9;
$black:#191919;

$main-width:62rem;
$main-border:.5rem solid #090a0f;
$main-border-radius:2.5rem;
$main-bg:#f1f5f9;
$main-padding:7rem 3rem 4rem;
$main-margin:10rem auto 0;

$container-padding:1.5rem 2.5rem;

$mobile-width:37.5rem;
$tablet-width:64rem;
$font-family: "Roboto",sans-serif;