@use "../../Style/" as *;
.header{ 
    width: 100%;
    height: 5rem;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 1px 3px rgb(90 90 90 / 12%), 0 1px 2px rgb(90 90 90 / 24%);

    &.shrink{
        background-color: $white;
    }

    &_wrap{
        @include flex(center,space-between);
        max-width:$main-width;
        margin: 0 auto;
        height: 100%;

        h1.logo{
            text-align: center;
            img{
                width: 50%;
                @include mobile{
                    width: 30%;
                }
            }
        }
    }
    .menu{
        max-width: $main-width;
        @include flex(center,space-between);
        &_list{
            margin: 0 2rem;
            .link{
                font-size: 1.5rem;
                color: $main-color;
                @include mobile{
                    font-size: 1rem;
                }
            }
        }
    }
}