@use "../../Style/" as *;

.header{
    width: 100%;
    background: transparent;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 1px 3px rgb(90 90 90 / 12%), 0 1px 2px rgb(90 90 90 / 24%);

    &.shrink{
        background-color: $white;
        .menu{
                .link{
                    color: $black;
                    &:hover{
                        text-decoration: none;
                    }
                    &::after{
                        opacity: 0;
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        width: 0;
                        height: 2px;
                        transition: width .3s ease;
                        background-color: $black; 
                    }
                    &:active::after{
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
    }

    &_wrap{
        @include flex(center,space-between);
        max-width:$main-width;
        margin: 0 auto;

        h1.logo{
            text-align: center;
            img{
                width: 50%;
                @include mobile{
                    width: 30%;
                }
            }
        }
    }
    .menu{
        @include flex(center,space-between);
        &_list{
            margin: 0 2rem;

            .link{
                position: relative;
                display: inline-block;
                font-size: 1.2rem;
                color: $main-color;
                &:hover{
                    text-decoration: underline;
                }
                @include mobile{
                    font-size: 1rem;
                }
            }
            
        }
    }
}
.header::after{
    content: "";
    display: block;
    clear: both;
}